<!DOCTYPE html>
<html>
<head>
    <title>Менеджер задач | @ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="@Url.Content("~/Content/Account.css")" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <header>
        

    </header>
    <section>
        @RenderBody()
    </section>
    <footer></footer>
</body>
</html>