@model IEnumerable<TaskManager.Tags>

<div class="Tags">
    @foreach (var Tag in Model.Take(100))
    {
        <span id="@Tag.Id" class="fTag" ng-click="filterBy($event)">@Tag.TitleTag</span>
    }
    <span class="fResetTag" ng-click="filterBy($event)">Обнулить фильтр tags</span>
</div>

 