/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p,
blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, 
img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}
/************************************************/

body {
    color: #333; 
    font-family: 'Cuprum', sans-serif;
    height: 100%;
    a:hover{ color: brown; text-decoration: none; }
    a { color: #00BDC0; }
    .inputText{
        width: 200px;
        height: 28px;
        text-align: left;
        padding: 3px;
        font-size: 13px;
        background-color: #fbfbfb;
        border: none;
    }
    .inputSubmit{
        &:hover{ background-color: #E0DCDC; }
        width: 210px;
        height: 39px;
        margin-bottom: 1px;
        display: block;
        border: none;
        margin-left: -4px;
        cursor: pointer;
        background-color: darkturquoise;
        color: #FBFBFB;
        font-size: 17px;
    }
    .transition{
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    header, section, footer { float: left; width: 100%; }
    header { 
        border-top: 4px solid darkturquoise;
        height: 50px;
        .mainTitle{
            display: block;
            margin: 12px 10px 0px 16px;
            font-size: 20px;
            text-decoration: none;
            max-width: 250px;
        }
    }
    section {
        height: 100vh;
        padding-bottom: 100px;
        display: flex;
        .Left-Panel{
            float: left;
            overflow: visible;
            width: 300px;
            margin-left: 10px;
            margin-right: 10px;
            .list-tasks{
                float: left;
                max-height: 700px;
                border-radius: 4px;
                overflow: auto; 
            }
            .Tags, .Dates{
                    float: left;
                    width: 300px;
                    border-top: 1px dashed #00BDC0;
                    padding-top: 20px;
                    margin-bottom: 20px;
                    span{
                        &:hover{ background-color: #E0DCDC; color: #00BDC0; }
                        height: 20px;
                        display: block;
                        border: none;
                        background-color: darkturquoise;
                        text-decoration: none;
                        float: left;
                        margin-bottom: 2px;
                        font-size: 13px;
                        padding: 5px;
                        color: #FFF;
                        margin: 2px;
                        cursor: pointer;
                    }
                }
        }
        .container{
            float: left;
            background-color: #FBFBE8;
            width: 100%;
            padding: 15px 10px 15px 10px;
            margin-right: 10px;
            position: relative;
            .Tasks{
                    i{
                        &:hover{ background-color: #E0DCDC; color: #00BDC0; }
                        float: left;
                        background-color: #FBFBE8;
                        margin-bottom: 2px;
                        font-style: normal;
                        font-size: 13px;
                        cursor: pointer;
                        display: block;
                        text-decoration: none; 
                        width: 96%;
                        padding: 5px;
                        div{ float: left; width: 100%; line-height: 22px; }
                        div:first-child{ font-size: 20px; }
                        .d-disc{ max-height: 50px; overflow: hidden; }
                        .d-date{ color: #666; }
                        .d-status{ color: darkturquoise; }
                        .d-tags{ color: darkturquoise; }
                    }
             } 
            .blockDetailTask{
                position: absolute;
                width: 500px;
                height: 500px;
                background-color: #FBFBE8;
                box-shadow: 0px 1px 3px 1px #999;
                padding: 20px 50px 10px 50px;
                display: none;
                top: 12%;
                left: 15%;

            }
            .btnInsert{
                .inputSubmit; margin: 10px 0px 10px 0px;

            }
            .blockInsertTask{
                position: absolute;
                width: 210px;
                height: 430px;
                padding: 20px 50px 35px 50px;
                background-color: #FBFBE8;
                box-shadow: 0px 1px 3px 1px #999;
                display: none;
                top: 12%;
                left: 15%;

                .DinamicTag{
                    position: relative;
                    input[type=text]{ .inputText; float: left; }
                    .sel-list{
                        &:focus { outline: none; }
                        padding: 3px 3px 0px 3px;
                        background-color: #fbfbfb;
                        position: absolute;
                        width: 200px;
                        max-height: 100px;
                        overflow: auto;
                        float: left;
                        top: 35px;  
                        .focus{ background-color: #00CED1; }                  
                        .optionTag{
                            &:hover{ background-color: antiquewhite; }
                            &:focus { outline: none; }
                            width: 100%;
                            border-bottom: 1px solid #EEE;
                            display: block;
                            padding: 2px 0px 4px 2px;
                            cursor: pointer;
                        }  

                    }
                    .ForTags{
                        float: left;
                        span{
                            display: block;
                            float:left;
                            height: 28px;
                            background-color: darkturquoise;
                            margin-left: 5px;
                            text-align: center;
                            padding: 6px 5px 1px 5px;
                            color: #FBFBFB;
                            margin-top: 2px;
                            .transition;
                            cursor: pointer;
                            &:hover{ 
                                background-image: url("Images/cross.png");
                                background-size: 35%;
                                background-repeat: no-repeat;
                                transform: rotate(7deg);
                                background-position-x: right;
                           }
                        }
                    }
                }  
                
                
                 
            
            }
            .mainTaskInfo{
                input{ .inputText; margin-bottom: 10px; }
            }
            .saveTask, .RemoveTask, .finishtag, .Cancelfinishtag{ .inputSubmit; margin: 10px 0px 10px 0px; }
            .RemoveTask, .finishtag,
            .saveTasksub, .Cancelfinishtag{ display: none; }
            .HIDDDENTAGS{ visibility: hidden; }
            .field-validation-error{
                display: block;
                position: absolute;
                top: 65px;
                left: 245px;
            }
            .field-validation-error:first-of-type{ top: 23px; }
            .field-validation-error:last-of-type{ top: 188px; left: 12px; }
        }
        .logOut{ 
            .inputSubmit;
            position: absolute;
            background-color: red;
            top: 0px;
            right: 40px;
            width: 100px;
            height: 24px;
            box-shadow: 0px 0px 1px #666;
            &:hover{ background-color: #FF6969; }
        }
        .login{
            position: absolute;
            background-color: #00CED1;
            padding: 0px 10px 0px 10px;
            color: #FFF;
            top: 0px;
            right: 165px;
            height: 24px;
            box-shadow: 0px 0px 1px #666;
        }
    }
    footer {
        height: 4px;
        background-color: darkturquoise;
        position: fixed;
        bottom: 0px;
    }
}