/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
/************************************************/
body {
  color: #333;
  font-family: 'Cuprum', sans-serif;
  height: 100%;
}
body a:hover {
  color: brown;
  text-decoration: none;
}
body a {
  color: #00BDC0;
}
body .inputText {
  width: 200px;
  height: 28px;
  text-align: left;
  padding: 3px;
  font-size: 13px;
  background-color: #fbfbfb;
  border: none;
}
body .inputSubmit {
  width: 210px;
  height: 39px;
  margin-bottom: 1px;
  display: block;
  border: none;
  margin-left: -4px;
  cursor: pointer;
  background-color: darkturquoise;
  color: #FBFBFB;
  font-size: 17px;
}
body .inputSubmit:hover {
  background-color: #E0DCDC;
}
body .transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body header,
body section,
body footer {
  overflow: visible;
  width: 100%;
}
body header {
  height: 4px;
  background-color: darkturquoise;
}
body section {
  min-height: 500px;
  padding-bottom: 100px;
}
body section .mainTitle {
  display: block;
  margin: 12px 10px 0px 16px;
  font-size: 20px;
  text-decoration: none;
  max-width: 250px;
}
body section .list-tasks {
  float: left;
  width: 300px;
  height: 700px;
  border-radius: 4px;
  margin-left: 10px;
  overflow: auto;
}
body section .list-tasks i {
  float: left;
  background-color: #FBFBE8;
  margin-bottom: 2px;
  font-style: normal;
  font-size: 13px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  width: 96%;
  padding: 5px;
}
body section .list-tasks i:hover {
  background-color: #E0DCDC;
  color: #00BDC0;
}
body section .list-tasks i div {
  float: left;
  width: 100%;
  line-height: 22px;
}
body section .list-tasks i div:first-child {
  font-size: 20px;
}
body section .list-tasks i .d-disc {
  max-height: 50px;
  overflow: hidden;
}
body section .list-tasks i .d-date {
  color: #666;
}
body section .list-tasks i .d-status {
  color: darkturquoise;
}
body section .container {
  float: left;
  background-color: #FBFBE8;
  margin-left: 10px;
  width: 60%;
  padding: 15px 10px 15px 10px;
  position: relative;
}
body section .container .DinamicTag {
  position: relative;
}
body section .container .DinamicTag input[type=text] {
  width: 200px;
  height: 28px;
  text-align: left;
  padding: 3px;
  font-size: 13px;
  background-color: #fbfbfb;
  border: none;
  float: left;
}
body section .container .DinamicTag .sel-list {
  padding: 3px 3px 0px 3px;
  background-color: #fbfbfb;
  position: absolute;
  width: 200px;
  max-height: 100px;
  overflow: auto;
  float: left;
  top: 35px;
}
body section .container .DinamicTag .sel-list:focus {
  outline: none;
}
body section .container .DinamicTag .sel-list .focus {
  background-color: #00CED1;
}
body section .container .DinamicTag .sel-list .optionTag {
  width: 100%;
  border-bottom: 1px solid #EEE;
  display: block;
  padding: 2px 0px 4px 2px;
  cursor: pointer;
}
body section .container .DinamicTag .sel-list .optionTag:hover {
  background-color: antiquewhite;
}
body section .container .DinamicTag .sel-list .optionTag:focus {
  outline: none;
}
body section .container .DinamicTag .ForTags {
  float: left;
}
body section .container .DinamicTag .ForTags span {
  display: block;
  float: left;
  height: 28px;
  background-color: darkturquoise;
  margin-left: 5px;
  text-align: center;
  padding: 6px 5px 1px 5px;
  color: #FBFBFB;
  margin-top: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
body section .container .DinamicTag .ForTags span:hover {
  background-image: url("Images/cross.png");
  background-size: 35%;
  background-repeat: no-repeat;
  transform: rotate(7deg);
  background-position-x: right;
}
body section .container .mainTaskInfo input {
  width: 200px;
  height: 28px;
  text-align: left;
  padding: 3px;
  font-size: 13px;
  background-color: #fbfbfb;
  border: none;
  margin-bottom: 10px;
}
body section .container .saveTask,
body section .container .RemoveTask,
body section .container .finishtag {
  width: 210px;
  height: 39px;
  margin-bottom: 1px;
  display: block;
  border: none;
  margin-left: -4px;
  cursor: pointer;
  background-color: darkturquoise;
  color: #FBFBFB;
  font-size: 17px;
  margin: 10px 0px 10px 0px;
}
body section .container .saveTask:hover,
body section .container .RemoveTask:hover,
body section .container .finishtag:hover {
  background-color: #E0DCDC;
}
body section .container .RemoveTask,
body section .container .finishtag,
body section .container .saveTasksub {
  display: none;
}
body section .container .HIDDDENTAGS {
  visibility: hidden;
}
body section .container .field-validation-error {
  display: block;
  position: absolute;
  top: 65px;
  left: 245px;
}
body section .container .field-validation-error:first-of-type {
  top: 23px;
}
body section .container .field-validation-error:last-of-type {
  top: 188px;
  left: 12px;
}
body section .logOut {
  width: 210px;
  height: 39px;
  margin-bottom: 1px;
  display: block;
  border: none;
  margin-left: -4px;
  cursor: pointer;
  background-color: darkturquoise;
  color: #FBFBFB;
  font-size: 17px;
  position: absolute;
  background-color: red;
  top: 0px;
  right: 40px;
  width: 100px;
  height: 24px;
  box-shadow: 0px 0px 1px #666;
}
body section .logOut:hover {
  background-color: #E0DCDC;
}
body section .logOut:hover {
  background-color: #FF6969;
}
body section .login {
  position: absolute;
  background-color: #00CED1;
  padding: 0px 10px 0px 10px;
  color: #FFF;
  top: 0px;
  right: 165px;
  height: 24px;
  box-shadow: 0px 0px 1px #666;
}
body footer {
  height: 4px;
  background-color: darkturquoise;
  position: absolute;
  bottom: 0px;
}
/*# sourceMappingURL=Manager.css.map */